
/* body,html{height:100%;overflow:auto} */


.form-control:not(.form-control-sm),
.form-select:not(.form-select-sm) {  font-weight: 600 }

@media(min-width:768px){
  :root{
    --lev-body-font-size: 1rem;
  }
  
  .form-control:not(.form-control-sm),
  .form-select:not(.form-select-sm),
  .fs-6, h6, .h6 { 
    font-size: 1rem !important }

  .btn:not(.btn-sm) { --lev-btn-font-size: 1rem }  

  .table-responsive {  overflow-x: inherit !important }
}

.btn-light:hover { background:rgba(0,0,0,.05)}

.btn-outline-secondary:active,
.btn-outline-secondary:hover { color: #FFF !important }

.text-black-75 { color: rgba(0,0,0,.75)}

body { background:#EEE } 

.inner .wrapper, 
.inner main, 
.inner section {
  padding: calc(5rem + 1vw) 0;
}

@media (max-width: 575.98px) { 
  .bg-white-sm-down{ background-color: #fff }
}

::-webkit-scrollbar { 
  padding: 1px;
  background: #fff;

  height: .25rem;
  width: .25rem }

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb { 
  padding: 3px; }

::-webkit-scrollbar-thumb { background: var(--lev-primary) }
::-webkit-scrollbar-thumb:hover { background: var(--lev-primary)  }

.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl {
    --flex-gutter-x: 4rem
}

.bg-gradient-dark {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%) }

.inner header { box-shadow: 0 .75rem 5rem rgba(20,76,92,.1)!important;  }

header .nav-link { color: var(--flex-primary) }

header .nav-link:hover,
header .nav-link.active { color: var(--flex-primary) !important }

.navbar-toggler { 
  border: 0;
  width: 48px;
  height: 48px;
  display: flex;
  gap: .375rem;
  flex-direction: column;
  justify-content: center;
  font-size: 100%;
  padding: .75rem .5rem }

.navbar-toggler .navbar-toggler-icon { 
  width: 100%;
  display: block;
  height: .25rem;
  border-radius: 4px;
  background: var(--flex-primary) !important }

@media(max-width:1199.98px){
    header .navbar-brand img {
      max-width: 60vw;
      max-height: calc(2.5rem + 1.75vw) }
}
  
@media(max-width:991.98px){
    header [class*="container"] { padding: 0 1rem  !important }
  
    header .navbar-collapse { 
      background: var(--flex-primary);
      width: 100%;
      position: fixed;
      z-index: 100000;
      top: 0;
      left: 0  }
  
    header .navbar-nav {
      justify-content: center;
      width: 100%;
      height: 100vh }  
  
    header .nav-link { 
      text-align: center;
      color: var(--flex-secondary);
      opacity:.5;
      padding: .75rem 3rem !important; 
      width: 100%;
      font-size: 120% }
  
    header .nav-link.active,
    header .nav-link:hover,
    header .nav-link:active,
    header .nav-link:focus { 
      opacity:1;
      color: var(--flex-secondary) !important }
  
    header .nav-item .btn { font-size: 120% }
}


#hero h1 { font-size: clamp(1.5rem, 4rem + 2vw, 3.25vw) }
#hero h1 .display-1,
#hero h1.display-1 { font-size: clamp(3rem, 4rem + 5vw, 6vw) }

#hero .h2 { font-size: clamp(1.5rem, 4rem + 2vw, 3vw) }
#hero h1 .display-2 { font-size: clamp(3rem, 4rem + 3vw, 4vw) }

@media(max-width:767.98px){
  #hero [class*="container"] {
    position: static !important;
    transform: translate(0,0) !important
  }
  #hero h1 { letter-spacing: normal }
}

.btn-whatsapp,
.btn-whatsapp:hover,
.btn-whatsapp:active,
.btn-whatsapp:focus { 
    color: #FFF !important;
    border-color: #03B35B !important; 
    background: #03B35B !important;
}

.shadow { box-shadow: 0 .75rem 1rem rgba(20,76,92,.075)!important; }
/* .text-secondary { text-shadow: 1px 1px 0 rgba(20,76,92,.5) } */

/* ANIMATION: DELAY / DURATION
//////////////////////////////////////////////////////////////////////////////////////////*/
.delay1   { animation-delay: 500ms !important }
.delay2   { animation-delay: 1000ms !important }
.delay3   { animation-delay: 1500ms !important }
.delay4   { animation-delay: 2000ms !important }
.delay5   { animation-delay: 2500ms !important }
.delay6   { animation-delay: 3000ms !important }
.delay7   { animation-delay: 3500ms !important }
.delay8   { animation-delay: 4000ms !important }
.delay9   { animation-delay: 4500ms !important }
.delay10  { animation-delay: 5000ms !important }
.delay11  { animation-delay: 6000ms !important }

.duration100  { animation-duration: 100ms !important }
.duration200  { animation-duration: 200ms !important }
.duration300  { animation-duration: 300ms !important }
.duration400  { animation-duration: 400ms !important }
.duration500  { animation-duration: 500ms !important }
.duration600  { animation-duration: 600ms !important }
.duration700  { animation-duration: 700ms !important }
.duration800  { animation-duration: 800ms !important }
.duration900  { animation-duration: 900ms !important }
.duration1000 { animation-duration: 1000ms !important }
.duration2000 { animation-duration: 2000ms !important }
.duration3000 { animation-duration: 3000ms !important }
.duration4000 { animation-duration: 4000ms !important }
.duration5000 { animation-duration: 5000ms !important }
.duration6000 { animation-duration: 6000ms !important }
.duration7000 { animation-duration: 7000ms !important }
.duration8000 { animation-duration: 8000ms !important }
.duration9000 { animation-duration: 9000ms !important }
.duration10000 { animation-duration: 10000ms !important }
.duration20000 { animation-duration: 20000ms !important }
.duration30000 { animation-duration: 30000ms !important }

.blockUI.blockMsg.blockPage img {
  width: 20px !important;
}

.text-gradient{
  color: var(--lev-secondary); background-image: -webkit-linear-gradient(45deg, var(--lev-secondary) 0%, #fff 98%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
}

header .nav-link{
  display:flex;
  flex-direction:column;
}

header .nav-link::after, header .nav-link::after{
  content:"";
  width:0;
  background-color:currentColor;
  height:3px;
  transition: all .15s ease-in-out;
}

header .nav-link:hover::after, header .nav-link.active::after{
  width:80%;
  transition: all .15s ease-in-out;
}

@media(max-width:991.98px){

  header .nav-link{ align-items: center }

  header .nav-link:hover::after, header .nav-link.active::after{ width: 15% }

}

.bg-gradient-primary{
  background-image: linear-gradient(
    45deg,
    hsl(216deg 18% 16%) 0%,
    hsl(199deg 59% 26%) 50%,
    hsl(183deg 100% 35%) 100%
  );
}

.bg-gradient-primary.bg-opacity-50{
  background-image: linear-gradient( 45deg, rgba(33, 39, 48, 0.50) 0%, rgba(27, 81, 105, 0.50) 50%, rgba(0, 170, 179, 0.50) 100% );
}

#page-404 .text-gradient {
  color: var(--lev-secondary);
  background-image: -webkit-linear-gradient(
    0deg,
    var(--lev-secondary) 0%,
    #fff 97%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.card-gradient {
  position: relative;
  border: none;
}

.card-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  padding: 2px;
  background: -moz-linear-gradient(
      45deg,
      var(--lev-secondary) 0%,
      var(--lev-white) 100%
    )
    border-box;
  background: -webkit-linear-gradient(
      45deg,
      var(--lev-secondary) 0%,
      var(--lev-white) 100%
    )
    border-box;
    background-image: linear-gradient(
      45deg,
      var(--lev-secondary) 0%,
      var(--lev-white) 100%
    );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#sidebar {
  min-width: 270px;
  background: var(--lev-dark);
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 10;
}

#sidebar {
  margin-left: 0;
  transition: all 0.2s;
}

#sidebar.collapse,
#sidebar.collapse .dropdown-menu {
  /* margin-left: -270px; */
  min-width: auto;
  max-width: auto
}

#sidebar.collapse .dropdown-item { position: relative }

@media(max-width:575.98px){
  
 #sidebar { margin-left: -270px;}

 #sidebar.collapse { 
  box-shadow: 0 0 0 1000rem rgba(var(--lev-dark-rgb),.95);
  margin-left: 0 }

  .scroll-xs-y { overflow-y:auto }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media(min-width:576px){
  #sidebar.collapse .dropdown-menu .dropdown-menu.show:before {
    content: "";
    background: rgba(0,0,0,0.2);
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute } 
   
  #sidebar.collapse .dropdown-menu .dropdown-menu.show {
    padding-top: .5rem;
    background:var(--lev-dark);
    position: absolute !important;
    left: 100% !important
  }

  #sidebar.collapse #brandMenu,
  #sidebar.collapse #searchMenu,
  #sidebar.collapse .ti + *,
  #sidebar.collapse .dropdown-toggle::after { display:none !important }

  #sidebar.collapse #headerSidebar { 
    justify-content: center;
    padding: 1rem 0 !important }

  #sidebar.collapse #searchMenu + .dropdown-menu { margin-top: 3.35rem }

  /* #sidebar.collapse .ti { font-size: 180% !important } */

  #content { margin-left: 270px }

}

.m-collapse-menu { margin-left: 56px !important }

#sidebar .form-control {
  font-weight: normal;
  background-color: var(--lev-dark);
  color: #FFF;
  border-color: rgba(255,255,255,.25);
}

#sidebar .form-control:focus {
  color: #FFF;
  border-color: var(--lev-secondary);
}

#sidebar .form-control::placeholder{
  color: rgba(255,255,255,.25);
}

#menu-sidebar.dropdown-menu,
#menu-sidebar .dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  border: 0;
  background: none }

#menu-sidebar.dropdown-menu.show, 
#menu-sidebar .dropdown-menu.show { 
  transform: none !important;
    position:static !important }

#menu-sidebar .dropdown-item { 
  border-bottom: 1px solid  rgba(255,255,255,.05);
  padding: .5rem 0 }

#menu-sidebar .dropdown-item:last-child { border: 0 }

#menu-sidebar .dropdown-item .dropdown-item { 
  border: 0;
  padding: 0 .5rem }

#menu-sidebar .dropdown-item a {
  display: block;
  font-weight: bold;
  padding: .25rem 1rem;
  border-radius: .5rem !important;
  color: #FFF;
  text-decoration: none }

#menu-sidebar .dropdown-item .dropdown-item a { 
  color: rgba(255,255,255,.75);
  font-weight: normal;
  font-size: 1rem }

#menu-sidebar .dropdown-item a.dropdown-toggle { 
  display: flex; 
  justify-content: space-between;
  align-items: center }

#menu-sidebar .dropdown-item:focus, 
#menu-sidebar .dropdown-item:hover,
#menu-sidebar .dropdown-item:has([aria-expanded="true"]) { background: rgba(0,0,0,.25)}

@media(max-width:991.98px){
  #menu-sidebar .dropdown-item .dropdown-item a { padding: .125rem 1rem }
}


.blockUI.blockMsg.blockPage, .blockUI.blockOverlay{
  z-index: 2000 !important;
}

.preview-actions{
  top: 10px;
  right: 10px;
  z-index: 1;
}

.bg-gradient-animate {
  background-image: linear-gradient(
  70deg,
  hsl(216deg 18% 16%) 0%,
  hsl(209deg 34% 20%) 10%,
  hsl(202deg 51% 24%) 20%,
  hsl(196deg 68% 28%) 30%,
  hsl(189deg 84% 32%) 40%,
  hsl(183deg 100% 35%) 50%,
  hsl(183deg 100% 48%) 60%,
  hsl(183deg 100% 61%) 70%,
  hsl(183deg 100% 74%) 80%,
  hsl(183deg 100% 87%) 90%,
  hsl(0deg 0% 100%) 100%
);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-login{
  background: rgba(34, 40, 49, 0.502);
  background-image: linear-gradient(to right top, #222831, #262c35, #2a3039, #2f343d, #333841, #38424e, #3c4c5b, rgba(63, 87, 104, 0.75), rgba(60, 106, 128, 0.75), rgba(51, 128, 150, 0.75), rgba(33, 150, 168, 0.75), rgba(0, 170, 179, 0.75));
  backdrop-filter: grayscale(1);
}

.bg-gradient-secondary{
  background: rgb(0,173,181);
background: -moz-radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
background: -webkit-radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
background: radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00adb5",endColorstr="#222831",GradientType=1);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.plupload_container{
  padding: 0 !important;
}

@media (min-width: 768px) {
  .btn-del-record{
    position: absolute;
    left: 1rem;
  }
}


.table tr { position: relative }

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  td:has(.stretched-link) { position:relative }
}

.link-edit a:has(.ti-trash) { display: none }

.user-profile{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden }

  .user-profile img{  object-fit: cover; }
  

th {
  font-size: 87.5%;
  text-transform: uppercase;
  color: rgba(0,0,0,0.5) !important;
  font-weight: normal }

@media (max-width: 767.98px) {

  th { font-size: 75% }
  td { font-size: 87.5% }

  .user-profile{
    width: 40px;
    height: 40px;
  }

}

table th, 
table td { vertical-align: middle}

[multiple] + .dropdown,
[multiple] + .dropdown button { height: 100% }
[multiple] + .dropdown button { padding: 1.35rem .75rem .5rem .75rem }


.multiselect-container .multiselect-all:focus, 
.multiselect-container .multiselect-all:hover, 
.multiselect-container .multiselect-group:focus, 
.multiselect-container .multiselect-group:hover, 
.multiselect-container .multiselect-option:focus, 
.multiselect-container .multiselect-option:hover,
.multiselect-container li:has( > a:hover), 
.multiselect-container li a:hover { background-color: #EEE !important }

.multiselect-container li{
  display: block;
  width: 100%;
  padding: var(--lev-dropdown-item-padding-y) var(--lev-dropdown-item-padding-x) !important;
  clear: both;
  font-weight: 400;
  color: var(--lev-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--lev-dropdown-item-border-radius,0) }


.multiselect.dropdown-toggle { background: #FFF }

.multiselect.dropdown-toggle i{
  font-size: .75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.multiselect-container li:first-of-type a{ padding: 0; }

.multiselect-container{ width: 100%; }

.form-floating:has( > .multiselect-native-select) > label {
  color: rgba(var(--lev-body-color-rgb),.65);
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.form-select.is-invalid, 
.was-validated .form-select:invalid + div > button{
  border-color: var(--lev-form-invalid-border-color) !important;
  
}

.form-select.is-invalid, 
.was-validated .form-select:invalid + div > button:active{
  box-shadow: 0 0 0 .25rem rgba(var(--lev-danger-rgb),.25) !important;
}

.form-select.is-valid, 
.was-validated .form-select:valid + div > button{
  border-color: var(--lev-form-valid-border-color) !important;
}

.form-select.is-valid, 
.was-validated .form-select:valid + div > button:active{
  box-shadow: 0 0 0 .25rem rgba(var(--lev-success-rgb),.25) !important;
}

.icon { 
  display: inline-block;
  position: relative }

.icon-16 { width: 16px; height: 16px }
.icon-24 { width: 24px; height: 24px }
.icon-32 { width: 32px; height: 32px }
.icon-48 { width: 48px; height: 48px }
.icon-64 { width: 64px; height: 64px }
.icon-96 { width: 96px; height: 96px }
.icon-128 { width: 128px; height: 128px }
.w-128 { width: 128px }

.text-gray-600{ color: var(--lev-gray-600); }

.icon.text-primary    { fill: var(--lev-primary); color: var(--lev-primary) }
.icon.text-secondary  { fill: var(--lev-secondary); color: var(--lev-secondary) }
.icon.text-white      { fill: #FFF }
.icon.text-whatsapp   { fill: #03B35B }

@media (max-width: 767.98px) {
  .empty-text{
    font-size: calc(1.375rem + 1.5vw) !important;
  }
}

.empty-text{
  font-size: calc(1.3rem + .6vw);
}

.modal-backdrop { display: none; }
.modal { background: rgba(0, 0, 0, 0.5); }

.modal-body{ background-color: var(--lev-light); }

li.dropdown-item.multiselect-item.multiselect-filter {
  background-color: transparent !important;
}

[type="search"]::-webkit-search-cancel-button {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  -webkit-appearance: none;
  background-color: var(--lev-secondary);
  height: 10px;
  width: 10px;
}

.dragable{ position: relative }

.form-floating:has(.form-control.input-white) label{
  color: var(--lev-light);
}

.form-floating:has(> .input-white)>.form-control-plaintext~label::after, 
.form-floating:has(> .input-white)>.form-control:focus~label::after, 
.form-floating:has(> .input-white)>.form-control:not(:placeholder-shown)~label::after, 
.form-floating:has(> .input-white)>.form-select~label::after{ background:none }

.aspect-ratio-1x1{
  aspect-ratio: 1;
}

.digit-input{
  font-size: clamp(16px, calc(12px + 2vw), 32px);
  text-align: center }

.form-floating .label{ background-color: transparent }

a:has(> .ti){ text-decoration: none !important }
.payment-type.port_1_1  { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-deposito.jpg) }
        
.payment-type.port_1_2,
.payment-type.port_1_3,
.payment-type.port_2    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-boleto.jpg) }
.payment-type.port_1_4 { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-pix2.jpg) }

.payment-type.port_7    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-mpago.jpg) }
.payment-type.port_3    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-pagseguro.jpg) }
.payment-type.port_4    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-paypal.jpg) }
.payment-type.port_8    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-picpay.jpg) }
.payment-type.port_14    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-pagarme.jpg) }
.payment-type.port_16    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-pix2.jpg) }
.payment-type.port_17    { background-image: url(<?=__HTTPBASEPATH__?>css/sistema/img/fp-stripe.png) }

.form-floating>.form-control-plaintext~label::after, 
.form-floating>.form-control:focus~label::after, 
.form-floating>.form-control:not(:placeholder-shown)~label::after, 
.form-floating>.form-select~label::after{ background-color: rgba(0,0,0,0); }

.border-opacity-10{ --lev-border-opacity: .1 }

.iti{ width: 100% }
.input-group .iti{ flex-grow: 1; width: auto; }

.iti__country-list{  z-index:3 }

.form-floating .iti .form-control::placeholder{ opacity: 0 }

.form-floating .iti .form-control-plaintext:focus, 
.form-floating .iti .form-control-plaintext:not(:placeholder-shown), 
.form-floating .iti .form-control:focus, 
.form-floating .iti .form-control:not(:placeholder-shown){
  padding-top: 1.625rem !important;
  padding-bottom: 0.625rem !important;
}

.form-floating:has(>.iti .form-control-plaintext) label, 
.form-floating:has(>.iti .form-control:focus) label, 
.form-floating:has(.iti .form-control:not(:placeholder-shown)) label, 
.form-floating:has(.iti .form-select) label {
  color: rgba(var(--flex-body-color-rgb),.65);
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating:has(> .iti) label {
  left: calc(70px + 0.75rem);
}

.form-floating .iti{ width: 100% }

.ck-source-editing-area,
.ck-editor__editable {
    min-height: 400px;
}

.modal-fullscreen-sm-down .modal-content:not(form.modal-content) > *{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ti{ font-size: 1rem; }

.btn{ 
  display: inline-flex;
  align-items: center; 
  gap: .25rem; 
  justify-content: center; }

.nowrap {
  text-wrap: nowrap;
}

.table-responsive {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  background: #FFF;
}

.table { margin: 0 }

table > tbody > tr:last-child,
table > tbody > tr:last-child > td { border-bottom: 0}

table .link-edit a { 
  font-weight:bold; 
  text-decoration: none !important }

tr.bg-light > * { background: var(--lev-light) }
tr.bg-dark > * { background: var(--lev-dark) }
tr.text-white > * { color: #FFF }

td.position-relative { z-index: 5 }

table tr:not(:hover) td.position-relative { z-index: 0 }

.modal-content { padding: 0 }

@media(min-width:992px){
  .modal-content > * { padding: 1.5rem 2rem }
  .modal-content .nav { 
    margin: -1.5rem -2rem 0 -2rem; 
    padding: 0 2rem }
}

@media(max-width:991.98px){
  .modal-content > * { padding: 1rem }
  .modal-content .nav { 
    margin: -1rem -1rem 0 -1rem; 
    padding: 0 1rem }
}
.modal-content {
  box-shadow: 0 0 3rem 0  rgba(var(--flex-dark-rgb),0.15) !important;
  border: 0
  }

.modal-backdrop.show { opacity: .25 }

.modal-body,
.modal-footer { background: var(--lev-light) }

.modal-footer { padding-top: 0 }

.modal-content > div { border: 0 }

.modal .nav-pills {
  position:relative;
  z-index: 1 }

.nav-underline .nav-link a.opacity-50 { filter:grayscale(1) }

.nav-underline .nav-link a.opacity-50:hover { 
  opacity:1 !important;
  filter:grayscale(0) }

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link { background: var(--flex-dark) }

.nav-pills .nav-link { color: var(--flex-dark) }

.nav-underline .nav-link { 
  opacity: .75;
  color: currentColor }

.nav-underline .nav-link.active {  
  opacity: 1;
  font-weight: normal }

[class*="Cancelado"].badge,[class*="status0"].badge { 
  color: currentColor;
  background: var(--lev-light) }

[class*="Liquidado"].badge,[class*="status1"].badge  { 
  background: var(--lev-success) }

[class*="Aberto"].badge  { 
  background: var(--lev-primary) }

.form-label { font-size: 87.5% }

a.opacity-50:hover,
.btn.opacity-50:hover { opacity: 1 !important }
.btn.border-transparent { border-color: transparent !important }

.text-danger-hover:hover { color: var(--lev-danger) }

tr.text-opacity-50 td:not(td:has(.badge)) { color: rgba(0,0,0,0.5)}


@media(min-width:768px){
  th:first-child,
  td:first-child { padding-left: 0 }

  th:last-child,
  td:last-child { padding-right: 0 }
}

@media(max-width:767.98px){
  th, td { padding-left: 1rem !important }
  th, td { padding-right: 1rem !important }
}

.table-hover>tbody>tr:hover {
 box-shadow: 
    -1.5rem 0 0 0 var(--lev-table-hover-bg), 
    1.5rem 0 0 0 var(--lev-table-hover-bg) !important;
}

tr.nohover:hover td {background:transparent !important}

.form-floating>.form-control-plaintext~label, 
.form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label, 
.form-floating>.form-select~label,
.form-floating>label { color: rgba(var(--lev-body-color-rgb), .75) }

@media (max-width: 767.98px){
  [class*=container] {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
  }
  h2.h4 { font-size: 100% }
}


.scroll-transparent::-webkit-scrollbar {
  background-color: transparent;
  height: 0;
  width: 0;
}

.scroll-transparent::-webkit-scrollbar-thumb {
  background-color: transparent;
  height: 0;
  width: 0;
}

.scroll-transparent::-webkit-scrollbar-thumb:hover {
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.2); /* You can adjust the transparency here */
}

.dropdown-menu {
  --lev-dropdown-font-size: 1rem;
}

td .dropdown:hover > .dropdown-menu { display:block }

@media(max-width:767.98px){
/* 
  th { display:none }

  tr { 
    position:relative;
    display:flex; 
    flex-direction: column }  

    tr:before{
      content:"";
      border-top: 1px solid #EEE;
      width: calc(100% + 3rem);
      left: -1.5rem;
      position: absolute;
      bottom: 0 }

  tr td {
    padding: 0 !important;
    border: 0 !important
  }

  tr td:first-child{ padding-top: .75rem !important }
  tr td:last-child{ padding-bottom: .75rem !important }

  tr td:has([data-label]):before{
      content: attr(data-label)": ";
      font-weight: normal;
      text-transform: none;
  }
*/
  .table-responsive { padding: 0 1rem }

  .table-responsive.px-xs-0 { padding: 0 }
} 
